body {
  padding: 0;
  margin: 0;
}

.row {
  width: 100%;
  clear: both;
  position: relative;
}

.surface {
  background-color: #333333;
  height: calc(100vh - 50px);
  touch-action: none;
  float: left;
}

#control-surface {
  width: calc(100% - 60px);
}

#scroll-surface {
  width: 60px;
}

/* Shape CSS */
.shape {
  display: block;
}

.shape.arrow {
  height: 6px;
  width: 6px;
  border-top: 1px solid white;
  border-left: 1px solid white;
}

.shape.arrow.up {
  transform : rotate(45deg);
  -moz-transform : rotate(45deg);
  -webkit-transform : rotate(45deg);
  -o-transform : rotate(45deg);
  -ms-transform : rotate(45deg);
}

.shape.line {
  margin-top: -8px;
  margin-left:3px;
  width: 1px;
  height: calc(100vh - 50px - 50px);
  border-left: 1px solid white;
}

.shape.arrow.down {
  margin-top: -8px;
  transform : rotate(-135deg);
  -moz-transform : rotate(-135deg);
  -webkit-transform : rotate(-135deg);
  -o-transform : rotate(-135deg);
  -ms-transform : rotate(-135deg);
}

/* Arrow scroll */
.scroll-arrow {
  opacity: 0.2;
  position: absolute;
  margin-top: 24px;
  margin-left: 10px;
}

/* Menu styling */
.menu {
  padding: 0;
  height: 50px;
  position: relative;
}

.menu.row {
  display: table;
}

.col { display: inline-block; }
.col.perc-8 { width: 80%; }
.col.perc-2 { width: 20%; }

.input {
  font-size: 1em;
  border: none;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  vertical-align:top;
}

button {
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
  font-weight: 600;
  text-transform: uppercase;
}

button.input {
  height: 50px;
  width: 100%;
  background-color: rgba(0,0,0,0);
  color: rgba(255,255,255,0.9);
}

input.input {
  padding: 6px 10px;
  height: 50px;
  width: 100%;
  font-size: 1.2em;
  background-color: rgba(0,0,0,0.2);
  color: rgba(255,255,255,0.9);
}
